.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 120px;
  display: none;
  background-color: #fa5e97;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  width: 70px; /* Width for the rectangle */
  height: 50px; /* Height for the rectangle */
  line-height: 40px;
}
