<!-- DAGI Data Flow publishing-with-dagi.md -->
{% if include.key == "dagi-data-flow" %}
<figure class="has-text-centered">
  <a href="/assets/images/GraphsDiagrams/DAGI_dataflow_v5.png" data-lightbox="image-1" 
     data-title='Anne Morel / SwissNatColl Team'>
    <img src="/assets/images/GraphsDiagrams/DAGI_dataflow_v5.png" 
         alt="DAGI Data Flow" 
         style="max-width: 100%; height: auto; cursor: zoom-in;" />
  </a>
  <figcaption>DAGI Data flow and users actions (2026)</figcaption>
</figure>

{% elsif include.key == "dagi-view-datasets" %}
  <figure class="has-text-centered">
    ...
  </figure>
{% endif %}
